.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.wrapper > div {
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 1em;
}

.day-of-week {
    background-color: lightgrey;
}
